saveles to ignore

*.class
bBUFFERS
bCONTROL
bBACKUP
*.tmp
javadep
UNKNOWN
filesystem.attributes
ir.out
xxx*
hs_err_pid*
update.out
*.xjs
.snapshot
.snapshots
*.o
*.so
core*
*.out
*.old
*.model
public
#*
eclipsepath
*.lcl
*.orig
tags
*~
.*~
*.pdf
*.ps
*.log
*.out.xml
*.csv
build.properties
git.info
secret
node_modules
.DS_Store
savedimages/*
package-lock.json
test*.csh
*.ai
.vscode
*.save
*.pyc
*.swp
.DS_Store
googlebuild
shore.jar

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
