.throttle .track {
   -fx-pref-width: 30;
   -fx-background-color: linear-gradient(red,yellow,green);
}

.throttle .thumb {
   -fx-pref-height: 30;
   -fx-pref-width: 40;
   -fx-background-color: black;
}

.carcount .track {
   -fx-pref-height: 5;
   -fx-background-color: yellow;
}

.carcount .thumb {
   -fx-pref-height: 15;
   -fx-pref-width: 15;
   -fx-background-color: black;
}

.carcount .axis {
   -fx-font-weight: bold;
   -fx-text-size: 12px;
   -fx-text-fill: green;
   -fx-tick-label-fill: blue;
   -fx-font-size: 12;
}


,clearButton {
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-border-radius: 0;
  -fx-background-color: transparent;
}

.clearButton:focused {
  -fx-border-color: transparent, black;
  -fx-border-width: 1,1;
  -fx-border-style: solid;
  -fx-border-insets: 1,1,1,1,0;
}

.clearButton:pressed {
  -fx-background-color: white;
}
